*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    margin: 0 auto;
    max-width: 1128px;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.logo {
    padding-right: 76px;
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
}
.logo1 {
    color: #2e2f42;
}
nav > ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.nav {
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}
.nav:hover, .nav:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.address ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.contact {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
}
.contact:hover, .contact:focus {
    color: #404bbf;
}
.section-order .container {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
}
.section-title {
    margin-top: 188px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.container .button {
    display: flex;
    align-self: center;
    margin-bottom: 188px;
    border-radius: 4px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: #404bbf;
}
.container .principles {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 120px 0;
}
.header {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
    padding-top: 32px;
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    text-align: center;
    padding-bottom: 32px;
}
.team {
    background-color: #FFFFFF;
}
.section-team .container {
    display: flex;
    flex-direction: column;
    background-color: #f4f4fd;
    padding-bottom: 120px;
}
.title {
    padding-top: 120px;
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.container .list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.container .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}
.portfolio-list li {
    flex-basis: calc((100% - 48px) / 3);
}
.portfolio-list .header, .portfolio-list .paragraph {
    text-align: left;
    padding-left: 24px;
}
.footer .container {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer .logo {
    padding-top: 100px;
}
.logo-footer {
    color: #f4f4fd;
}
.text-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-bottom: 100px;
    margin-right: 864px;
}